<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMedicationProfileRESTService" />
                <binding name="BasicHttpBinding_IPatientSoapService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:14395/MedicationProfileRESTService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMedicationProfileRESTService"
                contract="MedicationProfileRESTServiceReference.IMedicationProfileRESTService"
                name="BasicHttpBinding_IMedicationProfileRESTService" />
            <endpoint address="http://localhost:14395/PatientSoapService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPatientSoapService"
                contract="PatientSoapServiceReference.IPatientSoapService"
                name="BasicHttpBinding_IPatientSoapService" />
        </client>
    </system.serviceModel>
</configuration>