<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- Register WSE section -->
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <!-- WSE 3.0 settings -->
  <microsoft.web.services3>
    <policy fileName="wse3policyCache.config" />
  </microsoft.web.services3>

  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
    <targets>
      <target name="file"
              xsi:type="File"
              autoFlush="true"
              fileName="${basedir}/logs/HL7MessageParserServiceSimulator.log"
              layout="${longdate} ${uppercase:${level}} ${message}"
              archiveFileName="${basedir}/logs/archives/HL7MessageParserServiceSimulator.{#}.log"
              archiveEvery="Day" archiveNumbering="Rolling"
              maxArchiveFiles="7"
              concurrentWrites="true"
              keepFileOpen="false" />
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="file" />
    </rules>
  </nlog>
</configuration>