<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="MedDispense.Common.Properties.Settings.ADS_NEWConnectionString"
      connectionString="Data Source=TAMPA-FS1;Initial Catalog=ADS_NEW;Persist Security Info=True;User ID=sa;Password=md1599"
      providerName="System.Data.SqlClient" />
    <add name="MedDispense.Common.Properties.Settings.ADS_MULTI_PASSConnectionString"
      connectionString="Data Source=(local);Initial Catalog=ADS_MULTI_PASS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MedDispense.Common.Properties.Settings.ADS_NEW_GEN4XConnectionString"
      connectionString="Data Source=DEV-TEST\SQLEXPRESS;Initial Catalog=ADS_NEW_GEN4X;Persist Security Info=True;User ID=sa;Password=md1599"
      providerName="System.Data.SqlClient" />
    <add name="MedDispense.Common.Properties.Settings.ADS_NEW_GEN4XConnectionString1"
      connectionString="Data Source=10.232.128.148\SQLEXPRESS;Initial Catalog=ADS_NEW_GEN4X;User ID=sa;Password=md1599"
      providerName="System.Data.SqlClient" />
    <add name="MedDispense.Common.Properties.Settings.ADS_NEWConnectionString1"
      connectionString="Data Source=CONFIG3752;Initial Catalog=ADS_NEW;Persist Security Info=True;User ID=sa;Password=md1599"
      providerName="System.Data.SqlClient" />
    <add name="MedDispense.Common.Properties.Settings.ADS_STARTUP_DBConnectionString"
      connectionString="Data Source=10.232.128.104\SQLEXPRESS;Initial Catalog=ADS_STARTUP_DB;User ID=sa;Password=md1599"
      providerName="System.Data.SqlClient" />
    <add name="MedDispense.Common.Properties.Settings.metro_testConnectionString"
      connectionString="Data Source=.\sqlexpress;Initial Catalog=ADS_EDU_G5;Integrated Security=False; User ID = sa; Password = Password1"
      providerName="System.Data.SqlClient" />
    <add name="MedDispense.Common.Properties.Settings.metro_testConnectionString1"
      connectionString="Data Source=CONFIG3752\MSSQLSERVER2008;Initial Catalog=metro_test;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MedDispense.Common.Properties.Settings.ADS_EDU_G5ConnectionString"
      connectionString="Data Source=.;Initial Catalog=ADS_EDU_G5;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MedDispense.Common.Properties.Settings.ADS_EDU_G5ConnectionString1"
      connectionString="Data Source=.\SQLExpress;Initial Catalog=ADS_EDU_G5;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MedDispense.Common.Properties.Settings.ADS_CARTConnectionString"
      connectionString="Data Source=.;Initial Catalog=ADS_CART;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MedDispense.Common.Properties.Settings.ADS_CARTConnectionString1"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ADS_CART;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MedDispense.Common.Properties.Settings.EDU_G5ConnectionString"
      connectionString="Data Source=.;Initial Catalog=EDU_G5;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MedDispense.Common.Properties.Settings.ADS_CARTConnectionString2"
      connectionString="Data Source=.\sqlexpress;Initial Catalog=ADS_CART;Persist Security Info=True;User ID=sa;Password=Password1"
      providerName="System.Data.SqlClient" />
    <add name="MedDispense.Common.Properties.Settings.ADS_EDU_G5_R1S16ConnectionString"
      connectionString="Data Source=.;Initial Catalog=ADS_EDU_G5_R1S16;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MedDispense.Common.Properties.Settings.ADS_EDU_G5R1S16ConnectionString"
      connectionString="Data Source=CNXA1ER-L0544\SQLEXPRESS;Initial Catalog=ADS_EDU_G5R1S16;Persist Security Info=True;User ID=sa;Password=Password1"
      providerName="System.Data.SqlClient" />
    <add name="MedDispense.Common.Properties.Settings.ADS_EDU_G5R1S16ConnectionString1"
      connectionString="Data Source=localhost\sqlexpress;Initial Catalog=ADS_EDU_G5R1S16;Persist Security Info=True;User ID=sa;Password=Password1"
      providerName="System.Data.SqlClient" />
    <add name="MedDispense.Common.Properties.Settings.ADS_STARTUP_DBConnectionString1"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ADS_STARTUP_DB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>